* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary: #57b2fc;
  --color-primary-hover: #6fbeff;
  --color-secondary: #339DC7;
  --color-success: #6cf3bf;
  --color-fail: #ff9595;
  --color-offwhite: #f8f8f8e8;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-btn-primary: #57b2fc;
  --color-btn-secondary: #339DC7;
  --color-btn-primary-hover: #57b2fc;
  --color-btn-secondary-hover: #339DC7;
  --color-btn-next: #57b2fc;
  --color-btn-back: #57b2fc;
  --color-grey-light: #E7E7E7;
  --color-border-light: #eeeeef;
  --border-radius: 1rem;
  --box-shadow-basic: 0 0 .5rem var(--color-border-light); }

html {
  margin: 0;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 80%; } }

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.spacing-small {
  letter-spacing: 0.1rem; }

.margin-small {
  margin: 1rem; }

.margin-medium {
  margin: 2rem; }

.center {
  text-align: center; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1.25rem; }

.font-big {
  font-size: 1.5rem; }

.font-large {
  font-size: 1.8rem; }

.padding-small {
  padding: 1rem; }

.heading-1 {
  font-size: 1.5rem;
  font-weight: 600; }

.heading-2 {
  font-size: 1.5rem; }

.heading-3 {
  font-size: 1.2rem; }

.hidden {
  display: none; }

.hidden {
  display: none; }

.center-elem {
  margin: auto; }

.btn__select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.fa-check-circle {
  color: var(--color-success); }

.fa-times-circle {
  color: var(--color-fail); }

.fa-star {
  color: #FFAE42; }

.main__container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__overlay {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

.btn {
  padding: 1rem 2rem;
  border: none;
  width: min-content;
  white-space: nowrap;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600; }
  .btn__primary {
    background-color: var(--color-btn-primary);
    color: var(--color-white); }
  .btn__primary:hover {
    background-color: var(--color-btn-primary-hover); }
  .btn__secondary {
    background-color: var(--color-btn-secondary);
    color: var(--color-white); }
  .btn__secondary:hover {
    background-color: var(--color-btn-secondary-hover); }
  .btn__utility {
    font-size: .85rem;
    padding: .75rem 1.5rem; }
    .btn__utility--next {
      background-color: var(--color-btn-next); }
    .btn__utility--back {
      background-color: var(--color-btn-back); }
  .btn__success {
    background-color: var(--color-success);
    color: var(--color-white); }
  .btn__fail {
    background-color: var(--color-fail);
    color: var(--color-white); }
  .btn__select {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    padding: 1rem;
    border-radius: var(--border-radius);
    line-height: 1; }
    .btn__select--selected {
      background-color: var(--color-primary);
      color: var(--color-white); }
  .btn__select:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer; }

.btn:hover {
  cursor: pointer; }

.category__item {
  margin-bottom: 1rem;
  margin-right: 1rem; }

.result-item__container {
  display: flex;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-light);
  box-shadow: var(--box-shadow-basic); }

.result-item__container:hover {
  background-color: var(--color-offwhite);
  cursor: pointer; }

.result-item__img img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  margin-right: 1rem; }

.result-item__details {
  margin-left: 1rem; }
  .result-item__details--name {
    font-size: 2rem;
    font-weight: 700; }
  .result-item__details--categories {
    display: flex;
    flex-wrap: wrap; }
    .result-item__details--categories-item {
      background-color: var(--color-grey-light);
      margin: .5rem 0;
      padding: .25rem 1rem;
      font-weight: 500;
      border-radius: 2rem; }
    .result-item__details--categories-item:not(:last-child) {
      margin-right: 1rem; }
  .result-item__details--info, .result-item__details--services {
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 0;
    font-size: 1.1rem; }
    .result-item__details--info div:not(:last-child), .result-item__details--services div:not(:last-child) {
      margin-right: .5rem; }
  .result-item__details--price {
    font-weight: 500; }
  .result-item__details--hours, .result-item__details--service {
    display: flex;
    align-items: center; }
    .result-item__details--hours i, .result-item__details--service i {
      margin-right: 3px; }
  .result-item__details--service {
    text-transform: capitalize; }

.search__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.search__slide {
  display: flex;
  flex-direction: column; }
  .search__slide--2, .search__slide--3 {
    width: 70%; }

.search__results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.search__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.search__prices {
  display: flex; }
  .search__prices--price:not(:last-child) {
    margin-right: 1rem; }

.search__title {
  text-align: center; }

.search__buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between; }

.search__link {
  text-align: right;
  text-decoration: none;
  margin-bottom: 1rem;
  color: var(--color-black); }

.search__link:hover {
  color: var(--color-primary);
  cursor: pointer; }
