* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  margin: 0;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 80%; } }

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.spacing-small {
  letter-spacing: 0.1rem; }

.margin-small {
  margin: 1rem; }

.margin-medium {
  margin: 2rem; }

.center {
  text-align: center; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1.25rem; }

.font-big {
  font-size: 1.5rem; }

.font-large {
  font-size: 1.8rem; }

.padding-small {
  padding: 1rem; }

.heading-1 {
  font-size: 1.5rem;
  font-weight: 600; }

.heading-2 {
  font-size: 1.5rem; }

.heading-3 {
  font-size: 1.2rem; }

.hidden {
  display: none; }

.hidden {
  display: none; }

.main__container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__overlay {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner__container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }
