.map {
    &__container {
        position: relative;
        overflow: hideen;
        &--single {
            height: 17rem;
        }
        
        &--multiple {
            height: 93vh;
        }
    }

    &__test {
        height: 150vh;
        background-color: skyblue;
    }
}