.search {
    &__container {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        background-color: var(--color-card-background);

        &--2 {
            width: 50%
        }
        
        &--3 {
            width: 60%;
        }
    }

    &__results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__prices {
        display: flex;

        &--price:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__title {
        text-align: center;
    }

    &__form {
        display: flex;
    }

    &__input {
        &--group {
            display: flex;
            flex-direction: column;
        }
    }

    &__buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        text-align: right;
        text-decoration: none;
        margin-bottom: 1rem;
        color: var(--color-black);
    }

    &__link:hover {
        color: var(--color-primary);
        cursor: pointer;
    }

    &__filters {
        &--title {
            @extend %display;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}