* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary: #57b2fc;
  --color-primary-hover: #6fbeff;
  --color-secondary: #339DC7;
  --color-success: #6cf3bf;
  --color-fail: #ff9595;
  --color-white: #f5f5f5e8;
  --color-black: #000000;

  --color-btn-primary: #57b2fc;
  --color-btn-secondary: #339DC7;
  --color-btn-primary-hover: #57b2fc;
  --color-btn-secondary-hover: #339DC7;
  --color-btn-next: #57b2fc;
  --color-btn-back: #57b2fc;

  --border-radius: 1rem;
}

html {
  // min-width: 32rem;
  // width: 100%;

  margin: 0;
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 100%;
  }

  @include respond(med-desktop) {
    font-size: 90%;
  }

  @include respond(tab-land) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  box-sizing: border-box;

  width: 100%;
}