* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary: #808EFF;
  --color-primary-hover: #808EFF;
  --color-secondary: #339DC7;
  --color-success: #6cf3bf;
  --color-fail: #ff9595;
  --color-offwhite: #f8f8f8e8;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-btn-primary: #808EFF;
  --color-btn-secondary: #339DC7;
  --color-btn-primary-hover: #929beb;
  --color-btn-secondary-hover: #339DC7;
  --color-btn-next: #57b2fc;
  --color-btn-back: #57b2fc;

  --color-card-background: #f4f7f8;

  --color-input-background: #e8eeef;
  --color-input-text: #8a97a0;

  --color-grey: #E7E7E7;

  --color-border-light: #eeeeef;
  --border-radius: .35rem;

  --box-shadow-basic: 0 0 .5rem var(--color-border-light);
  --box-shadow-input: 0 1px 0 rgba(0,0,0,0.03) inset;
}

html {
  // min-width: 32rem;
  // width: 100%;

  margin: 0;
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 100%;
  }

  @include respond(med-desktop) {
    font-size: 90%;
  }

  @include respond(tab-land) {
    font-size: 80%;
  }
}

body {
  margin: 0;
  box-sizing: border-box;

  width: 100%;
}