
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.spacing-small {
  letter-spacing: 0.1rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.center {
  text-align: center;
}

.font-small {
  font-size: 0.8rem;
}

.font-medium {
  font-size: 1.25rem;
}

.font-big {
  font-size: 1.5rem;
}

.font-large {
  font-size: 1.8rem;
}

.padding-small {
  padding: 1rem;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.heading-2 {
  font-size: 1.5rem;
}

.heading-3 {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}
